version: '2.1'
services:
  solr-server:
    image: solr:{CASES_IMAGE_VERSION}
    expose:
      - 8983
    environment:
      - "SOLR_HEAP=512m"
      - SOLR_OPTS=-javaagent:/usr/local/skywalking-solr-scenario/agent/skywalking-agent.jar -Dskywalking.collector.grpc_channel_check_interval=2 -Dskywalking.collector.app_and_service_register_check_interval=2 -Dcollector.discovery_check_interval=2 -Dskywalking.collector.backend_service=mock-collector:19876 -Dskywalking.agent.service_name=solr_scenario_01
    volumes:
      - data:/opt/solr/server/solr/mycores
      - {AGENT_FILE_PATH}:/usr/local/skywalking-solr-scenario/agent
    entrypoint:
      - docker-entrypoint.sh
      - solr-precreate
      - mycore
    links:
      - mock-collector
    depends_on:
      mock-collector:
        condition: service_healthy
    ulimits:
      memlock:
        soft: -1
        hard: -1

  solr-scenario:
    image: skywalking/solr-scenario:{CASES_IMAGE_VERSION}
    expose:
      - 8080
    ports:
      - "{SERVER_OUTPUT_PORT}:8080"
    environment:
      - COLLECTOR_SERVER=mock-collector:19876
      - SOLR_HOST=solr-server:8983
    links:
      - mock-collector
      - solr-server
    volumes:
      - {AGENT_FILE_PATH}:/usr/local/skywalking-solr-scenario/agent
    depends_on:
      mock-collector:
        condition: service_healthy

  mock-collector:
    image: skyapm/mock-collector:{COLLECTOR_IMAGE_VERSION}
    environment:
      - GRPC_BIND_HOST=mock-collector
    expose:
      - 12800
    ports:
      - "{COLLECTOR_OUTPUT_PORT}:12800"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://127.0.0.1:12800/receiveData"]
      interval: 5s
      timeout: 10s
      retries: 5
volumes:
  data: